AddDefaultCharset UTF-8

Options +FollowSymLinks
Options -Indexes

# Removes index.php from ExpressionEngine URLs
RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
RewriteCond %{REQUEST_URI} !/system/.* [NC]
RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]

RewriteEngine on
RewriteRule ^(.*)\.tpl$ [R=404]

RewriteCond $1 !^(index\.php|images|theme/.*|assets/.*|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]