.logo-title {
    color: #fff;
    text-shadow: 1px 1px 1px #2A2A2A;
}
#page-wrapper {
    min-height: 0 !important;
}
#page-wrapper > div {
    position: relative;
}
.btn-bottom {
    padding: 20px 0 30px 0;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #CFCFCF;
    margin: 20px 0 0 0;
}
textarea { 
    resize:none;
}
.formHide {
    position: absolute;
    background-color: #fff;
    opacity: 0.9;
    z-index: 110;
    &.onLoad {
        width: 100%;
        height: 100%;
    }
}

.formLoader {
    height: 68px;
    width: 68px;
    left: -18px;
    top: -18px;
    background: url('../img/loader.gif') 0 0 no-repeat;
    position: absolute;
    z-index: 111;
    &.onLoad {
        left: 50%;
        top: 50%;
        margin-left: -18px;
    }
}

.nofound {
    font-size: 50px;
    text-transform: uppercase;
    color: #E7E7E7;
    text-align: center;
}

.form-group .has-error {
    background-color: #FEE;
}
.form-group .error-text {
    display: block;
    color: #D22828;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 0px 0 4px;
}
.form-group.form-group-head {
    border-bottom: 1px solid #C8C8C8;
    padding-bottom: 20px;
}
.table-smgs {
    table-layout: fixed;
}
.table-smgs tbody tr td {
     vertical-align: middle;
}
.sidebar ul li a {
    color: #6E6E6E;
    /* text-shadow: 1px 1px 1px #FFFFFF; */
  font-size: 16px;
}
.sidebar ul li a.active, .sidebar ul li a:hover {
    background-color: #EFEAFF;
}